<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container my-5" >
    <div class="display-3 text-center">Hello Spring Security</div>
    <p class="lead"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque, dolorum incidunt itaque minima quod voluptatum? Beatae debitis impedit laborum possimus quod repellat tempora voluptate? Dolore libero quidem sint voluptas.</span></p>
  </div>
</main>

</body>
</html>