<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})"  xmlns:th="http://www.thymeleaf.org">

<body>

<main role="main">
  <div class="container my-5">
    <div>
      <a href="#" th:href="@{'/sign-up?lang=us'}">US</a>
      <a href="#" th:href="@{'/sign-up?lang=ja'}">Japan</a>
      <a href="#" th:href="@{'/sign-up?lang=fr'}">France</a>
      <a href="#" th:href="@{'/sign-up?lang=de'}">German</a>
      <a href="#" th:href="@{'/sign-up?lang=my'}">Myanmar</a>
    </div>

    <form th:action="@{/register}" th:object="${user}" method="post">
      <div class="form-group">
        <label for="username" th:text="#{user.name}"></label>
        <input type="text" id="username" class="form-control" th:classappend="${#fields.hasErrors('userName')}? 'is-invalid'"
               th:field="*{userName}">
        <small th:if="${#fields.hasErrors('userName')}" class="invalid-feedback" th:errors="*{userName}"></small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" id="password" class="form-control" th:field="*{password}"
               th:classappend="${#fields.hasErrors('password')}? 'is-invalid'">
        <small th:if="${#fields.hasErrors('password')}" class="invalid-feedback" th:errors="*{password}"></small>
      </div>
      <div class="form-group">
        <label for="repassword">Repeated Password</label>
        <input type="text" id="repassword" class="form-control" th:field="*{repeatedPassword}">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" th:field="*{email}">
      </div>
      <input type="submit" class="btn btn-info btn-block" value="Register">


    </form>
  </div>
</main>

</body>
</html>